.pageFooter__main .navFooter,
.pageFooter__secondary .pageFooter__contact {
    float: left;
    width: 75%;
}

.pageFooter__main .pageFooter__social,
.pageFooter__secondary .pageFooter__newsletter {
  float: left; 
  width: 25%;
}
