.quicktabs-style-tabs-field-custom {
  border:none;
  padding:0;
}

.quicktabs-style-tabs-field-custom .ui-widget-header {
  background:none;
  background-color:#92B40A;
}

.section-about .quicktabs-style-tabs-field-custom .ui-widget-header,
.section-user .quicktabs-style-tabs-field-custom .ui-widget-header,
.section-users .quicktabs-style-tabs-field-custom .ui-widget-header {
  background-color:#4F4FCF;
}

.front .quicktabs-style-tabs-field-custom .ui-widget-header {
  background:none;
  border:none;
  border-bottom:2px solid #2CA7C6;
}

.quicktabs-style-tabs-field-custom .ui-corner-all {
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  padding:0 10px;
}

.quicktabs-style-tabs-field-custom .ui-corner-top {
  -moz-border-radius-topleft:0px;
  -moz-border-radius-topright:0px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  border-top-left-radius:0px;
}

.quicktabs-style-tabs-field-custom .ui-tabs-nav li {
  margin:15px 0 0 0;
}

.quicktabs-style-tabs-field-custom .ui-state-default {
  background:none;
  border:none;
}

.quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected  {
  border-top:3px solid #272767 !important; /*536712*/
  background:#fff url(../images/icon-arrow-down-272767.png) no-repeat center top;
}

.front .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected  {
  border-top:3px solid #175463 !important;
  background:#2EAAC6 url(../images/icon-arrow-down-happening.png) no-repeat center top;
}

.section-about .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected,
.section-user .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected,
.section-users .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected {
  border-top-color:#272767 !important;
}

.front .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected a {
  color:#fff;
}

.section-about .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected a,
.section-user .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected a,
.section-users .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected a {
  color:#000;
} 

.quicktabs-style-tabs-field-custom .ui-tabs-nav li a {
  padding:5px 20px 3px 20px;
  line-height:auto;
  font-size:13px;
  font-weight:bold;
}

.section-about .quicktabs-style-tabs-field-custom .ui-tabs-nav li a,
.section-user .quicktabs-style-tabs-field-custom .ui-tabs-nav li a,
.section-users .quicktabs-style-tabs-field-custom .ui-tabs-nav li a {
  color:#fff;
}

.quicktabs-style-tabs-field-custom .ui-tabs-panel {
  padding:0px !important;
}

.front .quicktabs-style-tabs-field-custom .ui-tabs-panel {
  padding:10px 10px 0 10px !important;
}

.section-blogs .quicktabs-style-tabs-field-custom .ui-widget-header,
.section-blogs-test .quicktabs-style-tabs-field-custom .ui-widget-header {
  background-color: #4F4FCF;
}

.section-blogs .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected,
.section-blogs-test .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected {
  background: white url('../images/icon-arrow-down-272767.png') no-repeat 50% 0%;
  border-top: 3px solid #272767 !important;
}

.section-blogs .quicktabs-style-tabs-field-custom .ui-tabs-nav li a:link,
.section-blogs-test .quicktabs-style-tabs-field-custom .ui-tabs-nav li a:link,
.section-blogs .quicktabs-style-tabs-field-custom .ui-tabs-nav li a:visited,
.section-blogs-test .quicktabs-style-tabs-field-custom .ui-tabs-nav li a:visited {
  color: #fff;
}

.section-blogs .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected a:link,
.section-blogs-test .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected a:link,
.section-blogs .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected a:visited,
.section-blogs-test .quicktabs-style-tabs-field-custom .ui-tabs-nav li.ui-tabs-selected a:visited {
  color: #212121;
}

.section-about .quicktabs-style-tabs-field-custom .ui-widget-header,
.section-users .quicktabs-style-tabs-field-custom .ui-widget-header {
  background-color:#4F4FCF;
}




