.view-homepage-centerstage 				{ background-color:#000; color:#fff; height:450px; }

.view-homepage-centerstage .field-name-file
										{ border-bottom:4px solid #CE3E05; }

.view-homepage-centerstage .field-name-field-imagename
										{ font-size:21px; font-weight:bold; padding:10px 10px 0 10px; }

.view-homepage-centerstage .field-name-field-description
										{ padding:10px; }

.view-homepage-centerstage .views-slideshow-controls-top
										{ position:relative; }

.view-homepage-centerstage .views-slideshow-controls-bottom
										{ padding:0 0 15px 0; height:50px; }

.view-homepage-centerstage .views_slideshow_cycle_controls
										{ position:absolute; top:150px; width:960px; height:65px; }

.view-homepage-centerstage .views_slideshow_cycle_previous,
.view-homepage-centerstage .views_slideshow_cycle_next
										{ height:25px; width:25px; position:absolute; text-indent:-9999px; outline:none; }

.view-homepage-centerstage .views_slideshow_cycle_pager
										{ text-align:center; }

.view-homepage-centerstage .views_slideshow_cycle_pager .pager-item
										{ padding-right:10px; }

.view-homepage-centerstage .views_slideshow_cycle_pager .pager-item img
										{ opacity:.4; filter:alpha(opacity=40); width:150px; height:50px; }

.view-homepage-centerstage .views_slideshow_cycle_pager .active-slide img
										{ opacity:1; filter:alpha(opacity=100); } 

.view-homepage-centerstage .views_slideshow_cycle_previous
										{ margin:5px; left:0; z-index:100; background:url(../images/arrow_left.png) no-repeat left center; opacity:.5; filter:alpha(opacity=50); }

.view-homepage-centerstage .views_slideshow_cycle_next
										{ margin:5px; right:0; z-index:100; background:url(../images/arrow_right.png) no-repeat left center; opacity:.5; filter:alpha(opacity=50); }
										
.view-homepage-centerstage .views_slideshow_cycle_previous:hover
										{ opacity:1; filter:alpha(opacity=100); }

.view-homepage-centerstage .views_slideshow_cycle_next:hover
										{ opacity:1; filter:alpha(opacity=100); }
										

.view-homepage-centerstage .field-name-field-description p
										{ width:95%; margin:auto; padding:2px 0 5px 0; height:30px; }
										
.view-homepage-centerstage .active-slide
										{ padding-top:59px; background:url('../images/centerstagePointer.gif') center top no-repeat; clear:both; height:100%; width:100%; }
										
.view-homepage-centerstage .views_slideshow_pager_thumbnails
										{ width:95%; margin:auto; padding-top:24px; border-top:1px solid #333; }
										
#views_slideshow_cycle_teaser_section_homepage_centerstage-block_1
										{ height:360px!important; }