.view-homepage-centerstage 				{ background-color:#000; color:#fff; height:350px; }

.view-homepage-centerstage .field-name-file
										{ /*border-bottom:4px solid #CE3E05;*/ }

.view-homepage-centerstage .field-name-field-imagename
										{ font-size:21px; font-weight:bold; padding:10px 10px 0 10px; }

.view-homepage-centerstage .field-name-field-description
										{ padding:10px; }

.view-homepage-centerstage .views-slideshow-controls-top
										{ position:relative; }

.view-homepage-centerstage .views-slideshow-controls-text
										{ position:absolute; top:110px; width:960px; height:65px; }

.view-homepage-centerstage .views-slideshow-controls-text-previous,
.view-homepage-centerstage .views-slideshow-controls-text-next
										{ height:25px; width:25px; position:absolute; text-indent:-9999px; outline:none; }

.view-homepage-centerstage .views-slideshow-controls-text-previous
										{ margin:5px; left:0; z-index:100; background:url(../images/arrow_left.png) no-repeat left center; opacity:.5; filter:alpha(opacity=50); }

.view-homepage-centerstage .views-slideshow-controls-text-next
										{ margin:5px; right:0; z-index:100; background:url(../images/arrow_right.png) no-repeat left center; opacity:.5; filter:alpha(opacity=50); }
										
.view-homepage-centerstage .views-slideshow-controls-text-previous:hover
										{ opacity:1; filter:alpha(opacity=100); }

.view-homepage-centerstage .views-slideshow-controls-text-next:hover
										{ opacity:1; filter:alpha(opacity=100); }

.view-homepage-centerstage .views-slideshow-controls-bottom
										{ padding:0 0 15px 0; height:50px; text-align:center;}

.view-homepage-centerstage .views-slideshow-pager-fields
										{   width:95%; margin: auto 0;}

.view-homepage-centerstage .views-slideshow-pager-fields .views-slideshow-pager-field-item
										{ margin: auto 0; width:150px; padding-right:10px; }

.view-homepage-centerstage .views-slideshow-pager-fields .views-slideshow-pager-field-item img
										{ opacity:.4; filter:alpha(opacity=40); width:150px; height:35px; }

.view-homepage-centerstage .views-slideshow-pager-fields .views-slideshow-page-field-item.active img
										{ opacity:1; filter:alpha(opacity=100); } 

.view-homepage-centerstage .views-field-entity-id-2 p
										{ width:95%; margin:auto; padding:2px 0 5px 0; height:30px; color:#bbb; }
										
.view-homepage-centerstage .active-slide
										{ padding-top:37px; background:url('../images/centerstagePointer.gif') center top no-repeat; clear:both; height:100%; width:100%; }
										
.view-homepage-centerstage .views-slideshow-pager-field-item
										{ width:95%; margin:auto; padding-top:17px; border-top:1px solid #333; }
										
#views_slideshow_cycle_teaser_section_homepage_centerstage-block_1
										{ /*height:290px!important;*/ }
