/* $Id: layout-fixed.css,v 1.21 2010/04/01 11:48:29 johnalbin Exp $ */

/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
}

#page-wrapper, .region-bottom			{ margin-left:auto; margin-right:auto; width:960px; }
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */

#page 									{  }
#centerstage 							{ height:360px; }

/*
 * Header
 */
#header 								{  }

#header .section 						{  }

#search-box 							{  }

.region-header 							{  }

/*
 * Main (container for everything else)
 */
#main-wrapper 							{ position:relative; }

#main								 	{  }

/*
 * Content
 */
#content,
.no-sidebars #content
 										{ float:left; /* LTR */ width:960px; margin-left:0; /* LTR */ margin-right:-960px; /* LTR */ /* Negative value of #content's width + left margin. */ padding:0; /* DO NOT CHANGE. Add padding or margin to #content .section. */ }

.sidebar-first #content
 										{ width:718px; margin-left:242px; /* LTR */ /* The width of .region-sidebar-first. */ margin-right:-960px; /* LTR */ /* Negative value of #content's width + left margin. */ }

.sidebar-second #content 				{ width:718px; margin-left:0; /* LTR */ margin-right:-718px; /* LTR */ /* Negative value of #content's width + left margin. */ }

.two-sidebars #content
 										{ width:476px; margin-left:242px; /* LTR */ /* The width of .region-sidebar-first */ margin-right:-718px; /* LTR */ /* Negative value of #content's width + left margin. */ }

.content-top #content
 										{ width:718px; margin-left:242px; /* LTR */ /* The width of .region-sidebar-first. */ margin-right:-960px; /* LTR */ /* Negative value of #content's width + left margin. */ }

.content-top.sidebar-second #content
 										{ width:960px; margin-left:0; /* LTR */ margin-right:-960px; /* LTR */ /* Negative value of #content's width + left margin. */ padding:0; /* DO NOT CHANGE. Add padding or margin to #content .section. */ }

.content-top.no-sidebars #content
 										{ width:960px; margin-left:0; /* LTR */ margin-right:-960px; /* LTR */ /* Negative value of #content's width + left margin. */ padding:0; /* DO NOT CHANGE. Add padding or margin to #content .section. */ }

#content .section 						{ margin:0; padding:0; }

/*
 * Navigation
 */
#navigation 							{  }

.centerstage #navigation 				{ margin-bottom:10px; }

#main.with-navigation 					{  }

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second { margin-top:0px; /* Set this to the same value as the navigation height above. */ }

#navigation .section 					{  }

/*
 * First sidebar
 */
.region-sidebar-first
 										{ float:left; /* LTR */ width:242px; margin-left:0; /* LTR */ margin-right:-242px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */ padding:0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */ }

.region-sidebar-first .section 			{ margin:0 4px 0 3px; /* LTR */ padding:0; }

/*
 * Second sidebar
 */
.region-sidebar-second
 										{ float:left; /* LTR */ width:242px; margin-left:718px; /* LTR */ /* Width of content + sidebar-first. */ margin-right:-960px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */ padding:0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */ background-color:#fff; }

.region-sidebar-second .section 		{ margin:0; /* LTR */ padding:34px 42px 20px 10px; }

/*
 * Content-top
 */
.sidebar-second.content-top #content-inner
 										{ float:left; width:634px; margin-left:0px; margin-right:-634px; }

.two-sidebars.content-top #content-inner{ float:left; width:392px; margin-left:0px; margin-right:-392px; }

.sidebar-second.content-top .region-sidebar-second 
 										{ float:left; /* LTR */ width:200px; margin-left:676px; /* LTR */ /* Width of content + sidebar-first. */ margin-top:0px; margin-right:-876px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */ padding:0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */ }

.two-sidebars.content-top .region-sidebar-second
 										{ float:left; /* LTR */ width:200px; margin-left:434px; /* LTR */ /* Width of content + sidebar-first. */ margin-top:0px; margin-right:-634px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */ padding:0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */ }

.no-sidebar .region-sidebar-second 		{  }

.content-top #content .region-sidebar-second .section
 										{ margin:0; /* LTR */ padding:0px 0px 20px 10px; }

/*
 * Content-bottom
 */
.region-content-bottom 					{ margin:20px 0 0 0; }

/*
 * Footer
 */
#footer 								{  }

#footer .section 						{  }

/*
 * Page bottom
 */
.region-bottom /* See also the #page-wrapper declaration above that this div shares. */
 										{  }

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-bottom 							{ overflow:visible; word-wrap:break-word; /* A very nice CSS3 property */ }

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper							{ overflow-y:hidden; }
*/
