/* $Id: nodes.css,v 1.6 2009/11/02 15:37:29 johnalbin Exp $ */

/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node /* Node wrapper */ 					{ }

a.node-back-link	 						{ font-weight:bold; color:#FF7B06; display:block; margin-bottom:10px; font-size:0.8461em; }

.region.region-sidebar-first.column.sidebar ul.menu h2.node-title,
.region.region-sidebar-first.column.sidebar ul.menu h2.node-title a,
.region.region-sidebar-first.column.sidebar ul.menu h2.block-title,
.region.region-sidebar-first.column.sidebar ul.menu h2.block-title a { text-transform:none; }

.field-label,
h2.node-title,
h2.node-title a,
h2.block-title,
h2.block-title a 							{ color:#373830; text-transform:lowercase; }

.region.region-sidebar-first.column.sidebar h2.node-title,
.region.region-sidebar-first.column.sidebar h2.node-title a,
.region.region-sidebar-first.column.sidebar h2.block-title,
.region.region-sidebar-first.column.sidebar h2.block-title a { text-transform:uppercase; }


.node-sticky /* A sticky node (displayed before others in a list) */ { }

.node-unpublished /* Unpublished nodes */ 	{ /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */ }

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {  }

.node-teaser /* A node displayed as teaser */ {  }

/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}

.node h2.title /* Node title */ 		{  }

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ { color: #c00; }

.node .picture /* The picture of the node author */ {
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */ {
  margin-bottom: 26px;
}

.node.node-teaser .meta {
  display:none;
}

/* testing */

.node .submitted /* The "posted by" information */ {
  font-size: 0.923em; /* 13px x 0.923 = 12px */
  line-height: 1.333em; /* 12px x 1.333 = 16px */
}

.node .submitted span {
  display: inline;
}

.node .submitted span.prefix {
  color: #656a60;
}

.node .terms /* Node terms (taxonomy) */ {
}

.node .content /* Node's content wrapper */ {
}

.node-podcast .content {
  margin-top:20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #BFBFBF;
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node-readmore {

}

.node-secondary-section-front .field-name-field-image,
.node-secondary-section-front .field-name-field-subtitle,
.node-secondary-section-front .field-name-field-description {
  background-color:#000;
  color:#fff;
}

.node-secondary-section-front .field-name-field-description a:link,
.node-secondary-section-front .field-name-field-description a:visited {
  color: #ff8f2d;
  text-decoration: none;
}

.node-secondary-section-front .field-name-field-description a:hover {
	text-decoration:underline;
}

.field-name-field-featured-content .field-name-field-image {
  background-color:transparent;
}

.node-secondary-section-front .field-name-field-subtitle {
  padding-top:10px;
  font-size:23px;
}

.node-secondary-section-front .field-name-field-subtitle,
.node-secondary-section-front .field-name-field-description {
  padding-left:10px;
  padding-right:10px;
}

.node-secondary-section-front .field-name-field-description {
  margin-bottom:10px;
}

.node-secondary-section-front .field-name-field-description p {
  margin:0;
  padding:1em 0;
}

.node-podcast .field-name-field-image {
}

.node-dept-div-collections-landing .field-name-field-dept-div-coll-image-header  {
  float:right;
  margin-right:0;
  margin-left:10px;
}

.node-podcast .field-name-field-description {
  clear:both;
}

.node-type-explore-our-collections .region-content-top {
  margin-bottom: 60px;
}

.node-type-photo-gallery .field-name-field-description,
.node-secondary-section-front .field-name-field-description,
.node-type-dept-div-collections-landing .field-name-field-description,
.node-department-division-page .field-name-field-description {
  width:auto;
}

.node-type-department-division-page #content-inner,
.node-type-department-division-page #content-inner {

}
