/*
 * Search (search-block-form.tpl.php)
 */
#block-search-form /* Wrapper for the search form */ {
}

/* Search form button and textfield */
.search-form .form-submit,
#block-search-form .form-submit {
  background:#FF7B06 url(../images/button-search.png) no-repeat center top;
  width: 24px;
  height: 17px;
  cursor: pointer;
  text-indent: -9999px;
  border: none;
  margin-top:1px;
}

.search-form {
  float:right;
  /* margin-top:-95px;*/
  background-color:#fff;
  margin-left:20px;
  margin-bottom:50px;
}

.page-search .search-form {
}

.search-form label {
  display:none;
}

.page-search .block-system h2 {
  display:none;
}

.search-form .form-submit {
  height:20px;
}

.search-form .form-text {
  width:150px;
}

.search-form .form-item-apachesolr-search-retain-filters {
  display:block;
}

#block-search-form .form-type-textfield {
  float:left;
  margin:0;
}

#block-search-form .form-text {
  height:13px;
  margin-right:2px;
}

.search-results {
  list-style:none;
  padding:0;
}

.search-results li {
  border-bottom:1px solid #eee;
}

.search-results h3.title a {
  color:#FF8112;
  font-size:1.166em;
}

/* solr blocks */

#block-apachesolr-sort {
  border-bottom:1px dashed #999 !important;
  padding-bottom:20px;
  margin-bottom:20px;
}

#block-apachesolr-sort h2.block-title,
#block-apachesolr-sort .content,
#block-apachesolr-sort .item-list,
#block-apachesolr-sort ul,
#block-apachesolr-sort ul li {
  display:inline;
}

#block-apachesolr-sort h2.block-title {
  border:none;
  font:normal normal 1em Arial;
  color:inherit;
}

#block-apachesolr-sort ul {
  padding:0;
  margin:0;
}

#block-apachesolr-sort h2.block-title,
#block-apachesolr-sort ul li {
  margin-right:10px;
}

#block-apachesolr-sort ul li img {
  height:20px;
  margin-top:10px;
  position:absolute;
  width:38px;
}

#block-apachesolr-sort ul li a {
  padding:2px 5px;
}

#block-apachesolr-sort ul li a.active {
  background-color:#eee;
}

#block-apachesolr_search-currentsearch {
  border:none !important;
}

#block-apachesolr_search-currentsearch h2.block-title {
  display:none;
}

#block-apachesolr_search-currentsearch h3,
#block-apachesolr_search-currentsearch ul li {
  margin-right:10px;
}

#block-apachesolr_search-currentsearch h3,
#block-apachesolr_search-currentsearch .content,
#block-apachesolr_search-currentsearch .item-list,
#block-apachesolr_search-currentsearch ul,
#block-apachesolr_search-currentsearch ul li {
  display:inline;
}

#block-apachesolr_search-currentsearch h3 {
  font-weight:normal;
}

#block-apachesolr_search-currentsearch ul {
  padding:0;
  margin:0;
}

#block-apachesolr_search-currentsearch ul li {
}

#block-apachesolr_search-currentsearch ul li a {
}

.sidebar .block-apachesolr-search {
}

.sidebar .block-apachesolr-search ul {
  padding:0;
  list-style:none;
}

.sidebar .block-apachesolr-search ul li {
}





