
.quicktabs-wrapper .item-list {
  border-bottom:2px solid #2CA7C6;
}

ul.quicktabs-tabs.quicktabs-style-garland {
  background:none;
  border:none;
  height: 20px;
  padding-left: 10px;
  margin-bottom: 0;
}

ul.quicktabs-tabs.quicktabs-style-garland li {
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  height: 20px;
}

ul.quicktabs-tabs.quicktabs-style-garland li a:link, ul.quicktabs-tabs.quicktabs-style-garland li a:visited{
  color: #555555;
}

ul.quicktabs-tabs.quicktabs-style-garland li.active a {
  border-top:3px solid #175463 !important;
  background:#2EAAC6 url(../images/icon-arrow-down-happening.png) no-repeat center top;
  color: #fff !important;
}

#block-quicktabs-profile-blog-quicktabs .quicktabs-wrapper .item-list {
  border: 1px solid #aaaaaa;
}

#block-quicktabs-profile-blog-quicktabs ul.quicktabs-tabs.quicktabs-style-garland{
  height: 38px;
  background-color: #4F4FCF;
}

#block-quicktabs-profile-blog-quicktabs li {
  margin-top: 19px;
}

#block-quicktabs-profile-blog-quicktabs li a{
  color: #fff;
  padding: 5px 20px 3px 20px;
}

#block-quicktabs-profile-blog-quicktabs li.active a {
  color: #000 !important;
  border-top: 3px solid #272767 !important;
  background: #fff url(../images/icon-arrow-down-272767.png) no-repeat center top;
}




