/**
 * @file
 * User profile styling
 */

.profile .profile-body 					{ clear:both; }

.section-users .field-label 			{ font-weight:bold; border-bottom:0px none; }

.section-users .user-picture,
.section-users .field-name-field-image 	{ float:right; margin:0 0 1em 1em; }
.section-users .node-blog .field-name-field-image
										{ float:left; margin:0 1em 1em 0; }
.section-users .field-name-field-position
										{ clear:left; font-size:1.077em; /* 13px x 1.077 = 14px */ font-weight:bold; }
.section-users .field-name-field-year-started
										{ clear:left; }
.section-users .field-name-field-email 	{ clear:left; overflow:hidden; }
.section-users .field-name-field-email a{ color:#ff7b06; }
.section-users .field-name-field-introduction
										{ clear:left; }

.section-users .profile h3 				{ padding-top:9px; border-top:1px solid #e8e9e7; border-bottom:0px none; }

.section-users .profile h3.first 		{ border-top:0px none; padding-top:0px; }

.section-users .field-type-taxonomy-term-reference .field-label,
.section-users .field-type-taxonomy-term-reference .field-items,
.section-users .field-type-taxonomy-term-reference .field-items .field-item
										{ color:inherit; display:block; float:none; font-size:inherit; font-weight:inherit; padding-left:0; }

.section-users .field-type-taxonomy-term-reference .field-label
										{ font-weight:bold; color:#373830; }

.section-users .field-type-taxonomy-term-reference .field-items .field-item
										{ display:inline; }

/* TODO: Ask about removing margin top on all p tags */
.section-users .field-name-field-introduction p
										{ margin-top:0px; }

/*
 * Taxonomy fields
 */
.section-users .field-name-field-dept-division-tags
										{ clear:left; }

.section-users .field-name-field-dept-division-tags .field-label,
.section-users .field-name-field-dept-division-tags .field-items
										{ float:none; display:inline; }

.section-users .field-name-field-dept-division-tags .field-item
										{ display:inline-block; /*padding-right:6px;*/ }

.section-users .field-name-field-topic 	{ clear:left; }

.section-users .field-name-field-topic .field-label,
.section-users .field-name-field-topic .field-items
										{ /* float:none; */ float:left; display:inline; }

.section-users .field-name-field-topic .field-item
										{ display:inline-block; /*padding-right:6px;*/ }

/*
 * File fields
 */
.section-users .field-type-file 		{  }
.section-users .field-type-file img 	{ display:none; }
.section-users .field-name-field-cvfile span.file a,
.section-users .field-type-file a 		{ background-image:url('../images/download-link.png'); padding-right:17px; }
.section-users .field-name-field-cvfile { clear:both; margin-top:1em; margin-bottom:1em; }

.page-user #content .section 			{ position:relative; }

.page-user #page .region-sidebar-second { /* position:absolute; top:410px; right:42px; margin:0 0 0 0; */ }