/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased; }

.serif, body, .header__focus {
  font-family: "freight-text-pro",Georgia,Times,"Times New Roman",serif;
  line-height: 1.5; }

.sans, h1, h2, h3, h4, h5, h6, .sponsorLine, .world__exploreTitle {
  font-family: "proxima-nova","Helvetica Neue",Helmet,Freesans,sans-serif;
  line-height: 1.2; }

body {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-size: 2em; }

strong {
  font-weight: 900; }

em {
  font-style: italic; }

.is--visHidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

.nobr {
  white-space: nowrap; }

.slide {
  width: 100vw;
  background-size: cover; }

/* Jump Nav */
.jumpNav {
  position: fixed;
  right: 0;
  top: calc(50vh - 92px);
  /* minus half height */ }

.jumpNav__link {
  background: #FFF;
  width: .5em;
  height: .5em;
  display: block;
  margin: 1em;
  border-radius: .5em;
  box-shadow: 0px 0px 25px #000;
  transition: background-color .5s; }

.jumpNav__link--selected {
  background: #F00; }

/* Logo Header */
.logoHeader {
  width: 100%;
  height: 100px;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  padding: 10px;
  top: -100px;
  box-sizing: border-box;
  overflow: hidden; }

.logoHeader__fieldLogo,
.logoHeader__vikingsLogo {
  display: inline; }

.logoHeader__fieldLogo img,
.logoHeader__vikingsLogo img {
  height: 100%; }

/* Subheaders */
.whoTheyWere, .discoverMore {
  background: url(../images/coins.svg);
  background-size: 430px;
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  padding: 12px 0px;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 1.2em; }

.whoTheyWere--quadrants {
  background-position: -10px -10px; }

.whoTheyWere--cross,
.discoverMore {
  background-position: -220px -10px; }

.whoTheyWere--blueCross {
  background-position: -220px -220px; }

.whoTheyWere--face {
  background-position: -10px -220px; }

.whoTheyWere__rune {
  background: url(../images/runes.svg) center top;
  background-size: 100% auto;
  display: block;
  height: 25px;
  width: 25px;
  margin: 0 auto 0.7em; }

.slide:nth-child(3) .whoTheyWere__rune {
  background-position: center top; }

.slide:nth-child(4) .whoTheyWere__rune {
  background-position: center -25px; }

.slide:nth-child(5) .whoTheyWere__rune {
  background-position: center -50px; }

.slide:nth-child(6) .whoTheyWere__rune {
  background-position: center -75px; }

.slide:nth-child(7) .whoTheyWere__rune {
  background-position: center -100px; }

.header__focus {
  display: block;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold; }

.discoverMore .header__focus {
  font-size: 1.5em;
  line-height: 0.7em;
  margin: 0.3em 0; }

.discoverMore {
  color: #84A726; }

/* blurbs */
.blurb {
  width: 650px;
  margin: 1em auto; }

.blurb h3 {
  font-weight: 100;
  margin-bottom: 1em; }

.blurb h3 strong {
  font-weight: 900; }

.zoomOverOuter, .zoom__expander, .zoom__figure {
  z-index: 5; }

.zoom {
  text-align: center;
  display: inline-block;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 100px;
  position: relative; }

.zoom {
  width: 50vw;
  height: 50vw;
  box-shadow: none; }

.zoom.minimized {
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 10px #000;
  bottom: calc(50% - 100px); }

.zoom__wrapper {
  display: none;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -6px; }

.zoom.minimized .zoom__wrapper {
  display: block; }

.zoom__expander {
  width: 40px;
  height: 40px;
  outline: none;
  margin: 0 auto;
  position: absolute;
  border: none;
  display: block;
  text-align: center;
  border-radius: 100px 100px 0px 0px;
  font-size: 1.25em;
  line-height: 0em;
  top: -40px;
  left: calc(50% - 20px);
  box-shadow: -2px 0px 10px -2px #000;
  /*transition: transform 1s, transform-origin 1s, background 1s, color 1s;*/ }

.zoom__expander {
  transform: rotate(180deg);
  transform-origin: 20px calc(25vw + 39px);
  color: #fff;
  background: #f00; }

.zoom.minimized .zoom__expander {
  cursor: pointer;
  color: #000;
  background: #fff;
  transform: rotate(-45deg);
  transform-origin: 23px 137px; }

.zoom__wrapper.expanded {
  border-color: rgba(255, 255, 255, 0);
  transition: all .25s; }

.zoom__wrapper:hover .zoom {
  background: rgba(255, 0, 0, 0.75);
  transition: width 1s, height 1s, background .2s; }

.zoom__wrapper.expanded .zoom,
.zoom__wrapper.expanded:hover .zoom {
  background: #fff;
  transition: width 1s, height 1s, background .5s; }

.zoom__figure {
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
  box-sizing: border-box; }

.zoom__figure .detail {
  height: 60%;
  width: auto; }

.zoom.minimized .detail,
.zoom .thumbnail,
.zoom.minimized figcaption p {
  display: none; }

.zoom.minimized .thumbnail {
  display: block;
  height: 100%;
  width: auto; }

.zoom.minimized .zoom__figure figcaption {
  width: 100%;
  height: 100%;
  background: red;
  background: rgba(255, 0, 0, 0.75);
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.zoom.minimized .zoom__figure figcaption {
  display: none; }

.zoom.minimized:hover .zoom__figure figcaption {
  display: flex;
  align-items: center;
  justify-content: center; }

.zoom__figure figcaption p {
  font-size: 1.2vw;
  line-height: 1.7vw; }

.zoom__figure figcaption h4 {
  font-size: 2.25vw;
  line-height: 3.25vw;
  margin-bottom: .5vw; }

.zoom.minimized .zoom__figure figcaption h4 {
  font-size: 1.8em;
  line-height: 1.25em;
  margin-bottom: 0; }

.zoom.minimized {
  z-index: 0; }

.zoom {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  bottom: 0px;
  right: calc(50% - 25vw);
  /*transition: bottom 1s, right 1s, width 1s, height 1s;*/
  z-index: 1; }

.zooms.zooms--absolute .zoom {
  bottom: calc(50% - 25vw); }

.zoom__figure {
  background: #fff;
  overflow: hidden;
  height: 100%; }

.zoom.minimized .zoom__figure {
  background: transparent; }
.zoom.minimized .zoom__figure.hasThumbnail {
  background: #fff; }

.zoom.minimized:nth-last-child(1) {
  right: calc(23% - 100px); }

.zoom.minimized:nth-last-child(2) {
  right: calc(43% - 100px); }

.zoom.minimized:nth-last-child(3) {
  right: calc(63% - 100px); }

.zoom.minimized:nth-last-child(4) {
  right: calc(83% - 100px); }

.zoom:last-child .zoom__nav--next,
.zoom:first-child .zoom__nav--back {
  display: none; }

.zoom__nav {
  outline: none;
  border: none;
  background: url(../images/arrows.svg);
  width: 3vw;
  height: 5.4vw;
  background-size: 200%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 2.7vw); }

.zoom__nav--back {
  background-position: top left;
  left: .5vw; }

.zoom__nav--next {
  background-position: top right;
  right: .5vw; }

.zoom.minimized .zoom__nav {
  display: none; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  transition: background .5s visibility 0s linear .5s; }

.overlay.hidden {
  background: transparent;
  visibility: hidden; }

.zooms {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 2em 0; }

.zooms .zoom {
  bottom: 2em; }

.slide--intro {
  background: #000813 url(../images/ship.jpg) center center no-repeat;
  background-size: cover;
  min-height: 60vw;
  height: 100vh;
  position: relative; }

.fieldLogo {
  padding: 1vh;
  width: 5vh;
  min-width: 100px;
  float: left; }

.vikingsLogo {
  margin: 0 auto;
  width: 25vw;
  padding-top: calc(13vh - 4.84693877551vw);
  min-width: 200px; }

.underwater {
  position: absolute;
  width: 100%;
  bottom: calc(17% - 100px);
  color: #fff; }

.underwater h2 {
  font-weight: normal; }

.sponsorLine {
  display: block;
  margin: 2vh;
  color: #576066; }

.sponsorLine:before,
.sponsorLine:after {
  content: "";
  display: inline-block;
  margin: 0px 1em;
  height: 4px;
  border-top: 1px solid #414a58;
  width: 100px; }

.sponsorLogo {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 1vw; }

.sponsorLogo--discover {
  width: 12vw;
  max-width: 120px; }

.sponsorLogo--viking-cruises {
  width: 10vw;
  max-width: 125px; }

.sponsorLogo--swedish-museum {
  width: 9vw;
  max-width: 113px; }

.sponsorLogo--museums-partner {
  width: 23vw;
  max-width: 288px; }

@media only screen and (max-height: 700px) {
  .underwater {
    bottom: calc(13% - 48px); }

  .underwater h2 {
    font-size: 1.2em; }

  .sponsorLine {
    font-size: .8em; } }
@media only screen and (max-width: 1150px) {
  .sponsorLine:before,
  .sponsorLine:after {
    display: none; } }
.slide--world {
  background-image: linear-gradient(to bottom, #000813, rgba(40, 166, 225, 0) 25%, rgba(40, 166, 225, 0) 50%, #28a6e1 100%);
  background-position: center center;
  position: relative;
  height: 79.9vw; }

.map {
  background-color: #000813;
  background: #28a6e1;
  position: fixed;
  top: 0;
  z-index: -100;
  height: auto;
  width: 100%; }

.world__exploreTitle {
  position: absolute;
  width: 100%;
  top: 0;
  font-size: 20vw;
  letter-spacing: -0.3vw;
  font-weight: 600;
  color: rgba(0, 8, 19, 0.42);
  z-index: -10; }

.blurb--world {
  background: rgba(255, 255, 255, 0.49);
  padding: 2.5em 10em;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  top: 50%;
  width: 100%;
  left: 0; }

.blurb--world .helmet {
  width: 350px;
  height: 350px;
  float: left;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  position: relative;
  top: -120px;
  border: 1px solid #fff;
  margin: 2em; }

.blurb--world .helmet img {
  height: 100%; }

.slide--farmers {
  background: #28a6e1 url(../images/fjord.jpg) center bottom no-repeat;
  background-size: 100% auto;
  height: 75vw;
  position: relative; }

.whoTheyWere--farmers {
  color: #fff; }

.blurb--farmers {
  color: #fff; }

.blurb--farmers h3 strong {
  color: #9CDB7B; }

.zooms--farmers {
  position: static; }

.zooms--farmers .zoom.minimized {
  bottom: calc(19.5vw - 100px); }

.slide--tradersCraftspeople {
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 225, 0) 25%, rgba(255, 255, 225, 0) 75%, white 100%), #fff url(../images/traders-craftspeople.jpg) left bottom no-repeat; }

.whoTheyWere--tradersCraftspeople .header__focus {
  font-size: 1.7em;
  line-height: 0.7em;
  margin: 0.3em 0; }

.whoTheyWere--tradersCraftspeople .header__focus .cram {
  font-size: 0.7em;
  line-height: 0.7em; }

.whoTheyWere--tradersCraftspeople,
.blurb--tradersCraftspeople {
  color: #75212D; }

.blurb--tradersCraftspeople hr {
  background: url(..images/goods-rule.gif);
  border: none;
  height: 10px; }

.slide--voyagers {
  background-color: #fff;
  background: url(../images/varnafirdinga-cap.svg) -25vh center no-repeat, url(../images/varnafirdinga-cap.svg) calc(100vw - 25vh) center no-repeat;
  background-size: auto 60vh; }

.blurb--voyagers h3 strong {
  color: #2FA4DC; }

.slide--believers {
  background: transparent;
  background-size: cover; }

.whoTheyWere--believers {
  color: #fff; }

.blurb--believers {
  width: 500px; }

.blurb--believers h3 strong {
  color: #255976; }

.aurora img {
  width: 100%;
  margin-top: -1020px; }

.aurora {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -100;
  opacity: 0; }

.slide--visit {
  height: 75vh; }

.filmstrip {
  margin: auto;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background: url(../images/filmstrip.jpg) top center;
  background-size: 100% auto; }
